apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    # Explicit UID so dashboard JSONs can reference it by a stable identifier.
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
